# Docker development settings

########################################
# PHP Environment
########################################
# Your UID, get it with command: $ id
DEV_UID=PUT_YOUR_ID
# Xdebug
PHP_XDEBUG_DEFAULT_ENABLE=1
PHP_XDEBUG_REMOTE_AUTOSTART=0
PHP_XDEBUG_REMOTE_CONNECT_BACK=0
PHP_XDEBUG_REMOTE_AUTOSTART=0
PHP_XDEBUG_REMOTE_CONNECT_BACK=0
# Configure this to your local machine IP address
# i.e. ifconfig en0 -> 192.168.1.34
# PHP_XDEBUG_REMOTE_HOST="192.168.1.34"
PHP_XDEBUG_REMOTE_PORT=9001
PHP_XDEBUG_REMOTE_ENABLE=1
PHP_XDEBUG_IDEKEY=DOCKER_XDEBUG
PHP_XDEBUG_PROFILER_ENABLE=0
PHP_XDEBUG_PROFILER_OUTPUT_DIR=/var/www/html/storage/logs

# Opcache
PHP_OPCACHE_VALIDATE_TIMESTAMPS=1
